<div style="position: relative;">
    <div class="bootstrap-wrapper text-center">
        <div class="container">
            <div class=row>
                <h2 class="page-header">Product List</h2>
                <a mat-raised-button routerLink="/addProduct">Add Product</a>
              </div>

            <mat-form-field class="full-width-input">
                <mat-label> Filter</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" #input>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                [hidden]="dataSource.filteredData.length === 0">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="units">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Units </th>
                    <td mat-cell *matCellDef="let element"> {{element.units}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon aria-hidden="false" style="cursor:pointer" aria-label="Edit icon" (click)="updateProduct(element)">edit</mat-icon>
                      <!-- <i class="fa fa-trash" matTooltip="delete" (click)="deleteProduct(element.id)"></i> -->
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row let e = index; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>